div#content
  form
    - if ( ! content.hidden.name )
      label What is your name?
        input(name='name', value='Anon')
    p #{content.result} 
      b #{content.score}

    p #{content.category.title} #{content.question.question}?
    each val, key in content.hidden
      - if ( val !== '' )
        input(type='hidden', name=key, value=val)
    each option in content.question.options
      button(name='answer', type='submit', value=option.answer( ))
        span #{option.answer()} 

    p Make it:
      label
        input(type='radio', name='difficulty', value=1, checked=(content.difficulty==1))
        | tricksy
      label
        input(type='radio', name='difficulty', value=0, checked=(content.difficulty==0))
        | normal
      label
        input(type='radio', name='difficulty', value=-1, checked=(content.difficulty==-1))
        | easy

    if ( content.clues )
      p Some clues:
      ul
        each clue in content.clues()
          li #{clue.answer()}

    p #{content.category.explanation}
